<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Inmuebles</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id </th>
                        <th>Tipo de inmueble</th>
                        <th>Estado del inmueble</th>
                        <th>Ubicacion</th>
                        <th>Persona</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inmueble of inmuebles" class="text-center">
                        <td>{{inmueble.id_inmueble}}</td>
                        <td>{{inmueble.tipo_de_inmueble}}</td>
                        <td>{{inmueble.estado_del_inmueble}}</td>
                        <td>{{inmueble.ubicacion}}</td>
                        <td>{{inmueble.persona}}</td>
                        <td>
                            <button (click)="Editar(inmueble)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(inmueble)" class="btn btn-danger" style="margin-left: 5px;">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

