<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>:: Agregar Inmobiliaria::</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre: </label>
                    <input type="text" class="form-control" [(ngModel)]="inmobiliaria.nombre" name="nombre">
                </div>
                <button (click)="Guardar(inmobiliaria)" class="btn btn-danger" style="margin-top: 10px;">Guardar</button>
            </form>
        </div>
    </div>
</div>
