<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>:: Editar Cita ::</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Fecha: </label>
                    <input type="text" class="form-control" [(ngModel)]="cita.fecha" name="fecha">
                </div>
                <div class="form-group">
                    <label for="">Interesado: </label>
                    <select class="form-control" [(ngModel)]="cita.interesado" name="interesado">
                        <option *ngFor="let persona of personas" [value]="persona.id_persona">{{ persona.nombre }}</option>
                    </select>                
                </div>
                <div class="form-group">
                    <label for="">Propietario: </label>
                    <select class="form-control" [(ngModel)]="cita.propietario" name="propietario">
                      <option *ngFor="let persona of personas" [value]="persona.id_persona">{{ persona.nombre }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Comercial: </label>
                    <select class="form-control" [(ngModel)]="cita.comercial" name="comercial">
                        <option *ngFor="let persona of personas" [value]="persona.id_persona">{{ persona.nombre }}</option>
                    </select>
                </div>
                <button (click)="Actualizar(cita)" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>
